body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 720px;
    height: 720px;
}
.grid {
    border: none;
    height: 100%;
    flex: 1;
;
}
.row{
    display: flex;
    border: none;
    border-left: 0;
    flex: 1;
    width: 100%;
    
}


button{
    background-color: #4CAF50;
    color: white;   
    border: none;   
    padding: 5px 10px;  
    font-size: 16px; 
    cursor: pointer;
    border-radius: 5px;
    
}
button:hover{
    background-color: green;
}
