body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 960px;
    height: 570px;
}
.grid {
    border-left: 1px solid black;
    width: 20px;
    height: 20px;
;
}
.column{
    display: flex;
    border: 1px solid black;
    border-left: 0;
}


button{
    background-color: #4CAF50;
    color: white;   
    border: none;   
    padding: 5px 10px;  
    font-size: 16px; 
    cursor: pointer;
    border-radius: 5px;
    
}
button:hover{
    background-color: green;
}
